h1,
h2 {
  text-align: center;
}

.knapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
button {
  background-color: white;
  border: 1.5px solid black;
  font-weight: 500;
  padding: 5px;
  margin: 5px;
}

button:hover {
  background-color: lightgray;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 40px 0 40px;
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
  color: black;
  padding: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

li:nth-child(7n) {
  border-right: 2px solid black;
}
li:nth-child(n) {
  background-color: lightgray;
}
li:nth-child(-n + 7) {
  background-color: white;
  border-top: 2px solid black;
}
strong {
  color: black;
}
